.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  justify-items: center;
  width: 180px;
  background-color: beige;
}

.cell {
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  margin: 0;
  border-right: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-last-child(-n+3) {
  border-bottom: none;
}